@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/*start base*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.container {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background-color: #000;
    position: relative;
    z-index: 9999;
}

.header-wrap {
    position: relative;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: inline-block;
}

.main {
    min-height: calc(100vh - 60px - 60px);
    background-image: url("https://i.gstatvb.com/d4a2bd4f9c1531fb286d0705a5f66319.rng.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0%;
}

.footer {
    background-color: #000;
    position: relative;
    z-index: 1;
}

.footer-wrap {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav a {
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-nav li {
    display: inline-block;
    margin-left: 40px;
}

.footer-nav li:first-child {
    margin-left: 0;
}

.footer-info {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
}

@media (max-width: 889px) {
    .header-wrap {
        height: 48px;
    }

    .main {
        min-height: calc(100vh - 48px - 48px);
    }

    .footer-wrap {
        height: 48px;
    }

    .footer-nav a {
        font-size: 12px;
    }

    .footer-nav li {
        margin-left: 16px;
    }
}

@media (max-width: 650px) {
    .footer-info {
        font-size: 10px;
        width: 115px;
    }

    .footer-nav li {
        margin-left: 10px;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 0 5px;
    }

    .footer-nav a {
        font-size: 9px;
    }
}

/*end base*/

.step-wrap {
    padding: 25px 0;
}

.step-content {
    text-align: center;
}

.step-content_title {
    color: #fff;
    font-size: 32px;
    margin-bottom: 35px;
}

.step-content_title span {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 40px;
}

.step-content {
    width: 100%;
}

.step-content_btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 625px;
}

.step-content_btn.stretch button {
    width: 100%;
}

.step-content_btn.center {
    justify-content: center;
}

.step-content_btn button,
.step-content_btn a {
    display: inline-block;
    font-size: 26px;
    line-height: 64px;
    color: #45101c;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #fff;
    border-radius: 50px;
    width: 280px;
    height: 70px;
    cursor: pointer;
    transition: .3s all linear;
    margin-bottom: 20px;
    text-decoration: none;
}

.step-content_btn button:focus,
.step-content_btn a:focus {
    outline: none;
    text-decoration: none;
}

.step-content_btn button:hover,
.step-content_btn a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.step {
    display: none;
}

.step-count-1 .step-1,
.step-count-2 .step-2,
.step-count-3 .step-3,
.step-count-4 .step-4,
.step-count-5 .step-5,
.step-count-6 .step-6 {
    display: block;
}

.step-wrap {
    min-height: calc(100vh - 60px - 60px);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

.step-content {
    z-index: 1;
    position: relative;
    width: 50%;
}

.step-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 55%;
    background-image: url("https://i.gstatvb.com/09ec69eadf7a7c139d814d804b1e6bc0.rng.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.step {
    max-width: 420px;
    margin-top: 110px;
}

@media (max-width: 889px) {
    .step-wrap {
        min-height: calc(100vh - 48px - 48px);
    }
}

@media (max-width: 840px) and (orientation: portrait) {
    .main {
        background-image: url("https://i.gstatvb.com/68b08c41f80b8cc97d82e2a67489e96c.rng.jpg");
        background-position: 50% 0%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
    }

    .step-line {
        display: none;
    }

    .step-wrap {
        background-image: url("https://i.gstatvb.com/1666fed578f4cfd74692b477847eff17.rng.png ");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: auto;
    }

    .step-content {
        width: 100%;
    }

    .step {
        margin: 0;
        max-width: 100%;
    }

    .step-wrap {
        min-height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .step-content_btn.center {
        max-width: 300px;
    }

    .step-content_btn.stretch {
        max-width: 430px;
    }
}

@media (max-width: 520px) {
    .step-wrap {
        padding: 15px 0;
        min-height: 250px;
    }

    .step-content_title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .step-content_btn button,
    .step-content_btn a {
        font-size: 18px;
        line-height: 39px;
        width: 170px;
        height: 45px;
        margin-bottom: 10px;
    }

    .step-content_btn button:last-child,
    .step-content_btn a:last-child {
        margin-bottom: 0;
    }

    .step-content_btn.stretch {
        max-width: 260px;
    }

    .step-content_title span {
        font-size: 20px;
    }
}

@media (max-width: 900px) and (orientation: landscape) and (min-width: 500px) {
    .step-wrap {
        padding: 15px 0;
    }

    .step-content_title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .step-content_btn button,
    .step-content_btn a {
        font-size: 18px;
        line-height: 39px;
        width: 170px;
        height: 45px;
        margin-bottom: 10px;
    }

    .step-content_btn button:last-child,
    .step-content_btn a:last-child {
        margin-bottom: 0;
    }

    .step-content_btn.stretch {
        max-width: 260px;
    }

    .step-content_title span {
        font-size: 20px;
    }

    .step {
        margin: 0;
    }
}
